<div class="topNavW">
          <div class="btn-group">
              <a class="btn" href="#/welcome">Welcome</a>  
              <a class="btn" href="#/test">Test</a>
              <a class="btn" href="#/resourcedetail">Resource</a>   
              <a class="btn">Find Resources</a>
              <a class="btn" href="#/projects">Projects</a>
              <a class="btn" href="#/registrationpage">Register</a>             
              <a class="btn" href="#/welcome">Sign Out</a>
              <a class="btn" href="#/z$90qtxcv0807dxqtasf">App Settings</a>
          </div>
          <div class="clear"></div>
       </div>
       <div class="container-fluid bgBlack pt10"><h3 class="masterHeading">Resource Management System</h3></div>