<!-- @Photograph:TAB CONTENT : START -->
					<div class="container-fluid appPT" data-action="selfie">
                        <div class="col-md-6">
                            <video class="boxCommon" autoplay="true" src="" width="320" height="320"/>
                        </div>
                         <div class="col-md-6">
                            <canvas class="boxCommon" width="320" height="320"></canvas>
                        </div>
                    </div>
				<!-- @Photograph:TAB CONTENT : END -->