<!-- @Projects:TAB CONTENT : START -->
                   
                    <div class="row">
                       <div class="col-md-4">
                        <a ng-click="claenCurrentProject()" class="btn btn-success btn-small">Add new project <span class="glyphicon glyphicon-plus"></span></a>
                        <hr/>
                        <div class="list-group">
						
                            <div class="list-group-item" ng-repeat="p in dataToCapture.projects">
                               <div class="row">
                                    <div class="col-md-10">
                                        <h4 class="list-group-item-heading text-info smallLevelText">{{p.projectName}}</h4>
                                        <p class="list-group-item-text smallLevelText">{{p.briefDescription}}</p>
                                        <p class="list-group-item-text text-info smallLevelText">{{p.startDate}}&nbsp;&nbsp;&nbsp;{{p.endDate}}</p>
                                    </div>
                                    <div class="col-md-2">
                                          <a title="Delete this project" ng-click='deleteProject(p.id)' class="btn btn-sm"><span class="glyphicon glyphicon-trash"></span></a>
                                          <a title="Open for edit" ng-click="editProject($index)" class="btn btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </div>
                               </div>
                               
							   
							   <div class="btn-group">
                                        
                                   </div>
                            </div>
                            
                        </div>
                       </div> 
                       <div class="col-md-8">
                            <div data-id="projectSet" class="projectSet hide">
                                <div class="form-group">
                                    <label for="projectName">Project Name / Heading</label> 
                                    <input ng-model="currentProject.projectName" name="projectName" type="text" class="form-control" placeholder="Project Name">                   
                                </div>
                                <div class="form-group">
                                    <label for="briefDescription">Brief Description</label> 
                                    <input ng-model="currentProject.briefDescription" name="briefDescription" type="text" class="form-control" placeholder="Brief Description">                   
                                </div>
                                <div class="form-group">
                                    <label for="client">Client/Business body</label> 
                                    <input ng-model="currentProject.client" name="client" type="text" class="form-control" placeholder="Client">                   
                                </div>                        
                                <div class="form-group">
                                    <label for="briefDescription">Detail Description</label> 
                                    <textarea ng-model="currentProject.detailDescription" name="detailDescription" class="form-control" placeholder="Detail Description"></textarea>                   
                                </div>
                                <div class="form-group">
                                    <label for="roleInTheProject">My role in the Project (in Detail)</label> 
                                    <textarea ng-model="currentProject.roleInTheProject" name="roleInTheProject" class="form-control" placeholder="Role in the project"></textarea>                   
                                </div>
                                <div class="form-group">
                                    <label for="briefDescription">Project Duration</label> 
                                    <div class="container-fluid">
                                        <div class="col-md-1">
                                        <label for="briefDescription">Start</label> 
                                        </div>
                                        <div class="col-md-5">
                                            <input ng-model="currentProject.startDate" name="startDate" type="text" class="form-control" placeholder="Start Date" data-prop="date">  
                                        </div>
                                        <div class="col-md-1">
                                        <label for="briefDescription">End</label> 
                                        </div>
                                        <div class="col-md-5">
                                            <input ng-model="currentProject.endDate" name="endDate" type="text" class="form-control" placeholder="End Date" data-prop="date">  
                                        </div>
                                    </div>
                                                       
                                </div>
                                <div class="form-group">
                                    <label for="achievement">Technologies used</label> 
                                    <input ng-model="currentProject.technologies" name="achievement" type="text" class="form-control" placeholder="Put technologies in comma separated way">  
                                </div>
                                <div class="form-group">
                                    <label for="achievement">Major achievement</label> 
                                    <input ng-model="currentProject.achievement" name="achievement" type="text" class="form-control" placeholder="Achievement">  
                                </div>
                                <div class="form-group">
                                    <label for="achievement">Challenge you faced</label> 
                                    <input ng-model="currentProject.challenge" name="challenge" type="text" class="form-control" placeholder="Challenge">  
                                </div>
                                <div class="form-group">
                                    <label for="achievement">Demo url (if any)</label> 
                                    <input ng-model="currentProject.demoUrl" name="demoUrl" type="text" class="form-control" placeholder="Demo URL">  
                                </div>
                                <div class="form-group">
                                    <label for="achievement">Live url (if any)</label> 
                                    <input ng-model="currentProject.liveUrl" name="liveUrl" type="text" class="form-control" placeholder="Live URL">  
                                </div>
                                <div class="form-group">
                                    <label for="achievement">Award/Appreciation (if any)</label> 
                                    <input ng-model="currentProject.awardAppreciation" name="awardAppreciation" type="text" class="form-control" placeholder="Live URL">  
                                </div>
                                <div class="form-group">
                                    <label for="achievement">Anything special you want to add</label> 
                                    <input ng-model="currentProject.specialNote" name="liveUrl" type="text" class="form-control" placeholder="Special you want to add">  
                                </div>
                                <div class="form-group">
                                    <a ng-click="updateProject()" class="btn btn-success">Save project</a>
                                </div>
                            </div>
                            
                       </div>     
                    </div>
                <!-- @Projects:TAB CONTENT : END -->  