<div class="row" ng-controller="registrationCtrl">
        
        <div class="col-md-12">
           <div class="tabbedAnchors appPT"> 
            <ul class="nav nav-tabs">
				<li role="presentation" ng-repeat="i in segmentNames">
					<a data-prop="tabAction-registration" href="#"><span class="glyphicon glyphicon-{{i.icon}}"></span> {{i.name}}</a>
					<span ng-if="segmentNames.length-1 == $index && !tabReady">{{renderTabbedPane();}}</span>
				</li>					
            </ul>
          </div>
          
		  <div class="container-fluid noLeftPD">
			<div class="row">
				<div class="col-md-8"><h4 data-prop="tabContentHead-registration" class="text-primary sectionHeadingRegistration">Personal data</h4></div>				
			</div>
            <hr class="shortenHR"/>
		  </div>
		    
			<form name="employeeRegistration">				
			   <div data-prop="tabContent-registration" ng-include src="'i/personaldata.inc.html'"></div>			   
                <div data-prop="tabContent-registration" ng-include src="'i/contactdata.inc.html'"></div>
			  <div data-prop="tabContent-registration" ng-include src="'i/identitydata.inc.html'"></div>			   
                <div data-prop="tabContent-registration" ng-include src="'i/skillandefficiencydata.inc.html'"></div>
			  <div data-prop="tabContent-registration" ng-include src="'i/projectdata.inc.html'"></div>                
                <div data-prop="tabContent-registration" ng-include src="'i/photograph.inc.html'"></div>
			  <div data-prop="tabContent-registration" ng-include src="'i/misc.inc.html'"></div>				
            </form>
			
			<hr/>
			
        </div>
       
        <div class="col-md-12">
        <button ng-click="postData()" class="btn btn-primary">Register now!</button>
        </div>
        <div class="col-md-12">
           <h4 class="text-success">JSON</h4> 
           <hr/> 
          <form name="dummyJSONPool">
             <div class="form-group">
                   <textarea name="jsonPool" rows="20"  class="form-control text-success" placeholder="json" disabled>{{dataToCapture}} AND {{currentProject}}</textarea>
               </div>
           </form>
        </div>
        
   </div>