<div class="container-fluid" ng-controller="projectsCtrl">
    <div class="row">
        <h3 class="text-primary">Projects</h3>
        <hr/>
    </div>
    <div class="row">
     <div class="col-md-3 noLeftPD">
           
          <div ng-if="operationMode=='IDLE'">
          <a ng-click="addHandler()" class="btn btn-primary btn-small">Add new project <span class="glyphicon glyphicon-plus"></span></a>
          <div class="text-primary" style="padding-top:10px;">Click the button  to create new Project.</div> 
           <hr/>
          </div>          
         
          <!-- LIST OF PROJECTS:START -->
                        <div class="list-group">						
                            <div class="list-group-item" ng-repeat="p in dataCapture.projects">
                               <div class="row">
                                    <div class="col-md-10">
                                        <h4 class="list-group-item-heading text-info largeLevelText">{{p.projectName}}</h4>
                                        <p>
                                         {{p.briefDescription}}
                                        </p>                                        
                                    </div>
                                    <div class="col-md-2">
                                          <a title="Delete this project" ng-click='deleteProject(p.id)' class="btn btn-sm text-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                          <a title="Open for edit" ng-click="editHandler($index)" class="btn btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <!-- LIST OF PROJECTS:END -->
     </div>
     <div class="col-md-9">
         <!-- ADD PROJECT FORM :Start-->
         <div data-id="projectSet" class="projectSet" ng-if="operationMode=='ADD'">
            <span>{{currentProject.id}}</span>
              <form name="projectForm">
                    <div class="form-group">
                        <label for="projectName">Project Name / Heading</label>
                        <span class="text-danger glyphicon glyphicon-asterisk" ng-show="projectForm.projectName.$dirty && projectForm.projectName.$error.required"></span>
                        <span class="text-success glyphicon glyphicon-ok" ng-show="!projectForm.projectName.$error.required"></span>    
                        <input ng-required="true" ng-model="currentProject.projectName" name="projectName" type="text" class="form-control" placeholder="Project Name">                   
                    </div>
                    <div class="form-group">
                        <label for="briefDescription">Brief Description</label>
                        <span class="text-danger glyphicon glyphicon-asterisk" ng-show="projectForm.briefDescription.$dirty && projectForm.briefDescription.$error.required"></span>
                        <span class="text-success glyphicon glyphicon-ok" ng-show="!projectForm.briefDescription.$error.required"></span>     
                        <input ng-required="true" ng-model="currentProject.briefDescription" name="briefDescription" type="text" class="form-control" placeholder="Brief Description" ng-required="true"/>                   
                    </div>
                    <div class="form-group">
                        <label for="client">Client/Business body</label> 
                        <input ng-model="currentProject.client" name="client" type="text" class="form-control" placeholder="Client">                   
                    </div>                        
                    <div class="form-group">
                        <label for="briefDescription">Detail Description</label> 
                        <textarea ng-model="currentProject.detailDescription" name="detailDescription" class="form-control" placeholder="Detail Description"></textarea>
                    </div>
                    <p ng-show="projectForm.projectName.$error.required || projectForm.briefDescription.$error.required" class="text-danger">Name and description of a project are mandatory.</p>
                    <div class="form-group" ng-show="!projectForm.briefDescription.$error.required && !projectForm.projectName.$error.required ">
                        <a ng-click="appendANewProject()" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Save project</a>
                        <a ng-click="cancelHandler()" class="btn btn-default">Cancel</a>
                    </div>
              </form>
         </div>
         <!-- ADD PROJECT FORM :End--> 

          <!-- UPDATE PROJECT FORM :Start-->
         <div data-id="projectUpdateSet" class="projectSet" ng-if="operationMode=='EDIT'">
            <span>{{currentProject.id}}</span>
              <form name="projectEditForm">
                    <div class="form-group">
                        <label for="projectName">Project Name / Heading</label>
                        <span class="text-danger glyphicon glyphicon-asterisk" ng-show="projectEditForm.projectName.$dirty && projectEditForm.projectName.$error.required"></span>
                        <span class="text-success glyphicon glyphicon-ok" ng-show="!projectEditForm.projectName.$error.required"></span>    
                        <input ng-required="true" ng-model="currentEditableProject.projectName" name="projectName" type="text" class="form-control" placeholder="Project Name">                   
                    </div>
                    <div class="form-group">
                        <label for="briefDescription">Brief Description</label>
                        <span class="text-danger glyphicon glyphicon-asterisk" ng-show="projectEditForm.briefDescription.$dirty && projectEditForm.briefDescription.$error.required"></span>
                        <span class="text-success glyphicon glyphicon-ok" ng-show="!projectEditForm.briefDescription.$error.required"></span>        
                        <input ng-required="true" ng-model="currentEditableProject.briefDescription" name="briefDescription" type="text" class="form-control" placeholder="Brief Description">                   
                    </div>
                    <div class="form-group">
                        <label for="client">Client/Business body</label> 
                        <input ng-model="currentEditableProject.client" name="client" type="text" class="form-control" placeholder="Client">                   
                    </div>                        
                    <div class="form-group">
                        <label for="briefDescription">Detail Description</label> 
                        <textarea ng-model="currentEditableProject.detailDescription" name="detailDescription" class="form-control" placeholder="Detail Description"></textarea>
                    </div>
                    <p class="text-danger" ng-show="projectEditForm.projectName.$error.required || projectEditForm.briefDescription.$error.required">Name and description of a project cannot be empty! Please fill it</p>
                    <div class="form-group" ng-show="!projectEditForm.projectName.$error.required && !projectEditForm.briefDescription.$error.required">
                        <a ng-click="editCompleteHandler()" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Update Project</a>
                        <a ng-click="cancelHandler()" class="btn btn-default">Cancel</a>
                    </div>
              </form>
         </div>
         <!-- UPDATE PROJECT FORM :End-->   
     </div>
    </div>
</div>