<div class="row" ng-controller="registrationCtrl">
        
        <div class="col-md-12" id="registrationTabPane">
           <div class="tabbedAnchors appPT"> 
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" ng-repeat="i in segmentNames">
					<a ng-click="renderTabbedPane($event)" aria-controls="section_{{$index}}" href="#" data-toggle="tab" role="tab" id="tabbutton_section_{{$index}}">
                       <span class="glyphicon glyphicon-{{i.icon}}"></span> {{i.name}}
                    </a>
                    <span ng-if="$index == segmentNames.length-1">{{activeFirstTab()}}</span>                    
				</li>					
			</ul>
            </div>
          
		  <div class="container-fluid noLeftPD">
			<div class="row">
				<div class="col-md-8">
                  <h3 class="text-primary sectionHeadingRegistration">{{sectionHeadingRegistration}}</h3>
                  <p class="text-primary"><span class="text-primary glyphicon glyphicon-ok"></span> &nbsp;Please don't leave any blue field blank, those are mandatory.</p>
                  </div>				
			</div>
            <hr class="shortenHR"/>
		  </div>
		    
		  <form name="employeeRegistration">				
			   <div role="tabpanel" class="tab-pane"  ng-include src="'i/personaldata.inc.html'"  id="section_0"></div>			   
			   <div role="tabpanel" class="tab-pane hide"  ng-include src="'i/contactdata.inc.html'" id="section_1"></div>
			   <div role="tabpanel" class="tab-pane hide"  ng-include src="'i/identitydata.inc.html'" id="section_2"></div>			   
			   <div role="tabpanel" class="tab-pane hide" ng-include src="'i/skillandefficiencydata.inc.html'" id="section_3"></div>
			   <div role="tabpanel" class="tab-pane hide" ng-include src="'i/projectdata.inc.html'" id="section_4"></div>                
			   <div role="tabpanel" class="tab-pane hide" ng-include src="'i/photograph.inc.html'" id="section_5"></div>
			   <div role="tabpanel" class="tab-pane hide" ng-include src="'i/misc.inc.html'" id="section_6"></div>				
		  </form>			
		  <hr/>			
        </div>
       <!--
       <div class="row">
            <div class="col-md-6">
                <div class="btn-group">
                    <a title="Previous section" class="btn htn-default btn-sm"><span></span></a>
                    <s>
                    </s>
                    <a title="Next section" class="btn htn-default btn-sm"><span></span></a>
                </div>
            </div>
            <div class="col-md-12">
                <button ng-click="postData()" class="btn btn-primary">Register now!</button>
            </div>
        </div>
        -->
        
        <div class="col-md-12 hide">
           <h4 class="text-success">JSON</h4> 
           <hr/> 
          <form name="dummyJSONPool">
             <div class="form-group">
                   <textarea name="jsonPool" rows="20"  class="form-control text-success" placeholder="json" disabled>{{dataToCapture}} AND {{currentProject}}</textarea>
               </div>
           </form>
        </div>        
   </div>
   
   