<div class="container-fluid">
    <div class="row">
        <h3 class="text-primary">Welcome</h3>
        <hr class="noTopPD noTopMR noBottomMR"/>
    </div>
    <div class="row">
        <div class="col-md-4 noLeftPD"> 
            <h4 class="text-primary">Proof Of Concept</h4>
            <p>
            This application is a ‘Proof Of Concept’ to showcase ability of MEAN stack. Here some minimal features have been implemented for common resource management process.</p> 
            <p>Application is fashioned in a very flexible way to keep it highly scalable. </p>
            <p>
            The term MEAN stack refers to a collection of JavaScript based technologies used to develop web applications. MEAN is an acronym for MongoDB, ExpressJS, AngularJS and Node.js.<br/>From client to server to database, MEAN is full stack JavaScript.</p>
            
            <a href="http://mean.io" target="_blank">More details</a>
        </div>
        <div class="col-md-4 noLeftPD">
            <h4 class="text-primary">Signin</h4>
            <form>
                <div class="form-group"> 
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="username">
                </div>
                <div class="form-group"> 
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="password">
                </div>
                <div class="form-group"> 
                    <select class="form-control" id="usertype">
                        <option value="admin">Admin</option>
                        <option value="resource" selected>Resource</option>
                    </select>
                </div>
                <div class="form-group">
                    <a class="btn btn-success">Signin <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
              </form>  
        </div>
    </div>
</div>
