<div ng-controller="resourceListingCtrl">
<div>
    
    <div class="row">
        <div class="col-md-2">
            <h3 class="text-primary">Find Resources</h3>
        </div>
        <div class="col-md-4 findResourcesSearchBox">
            <form class="form-inline">
                <div class="form-group">
                <input type="text" class="form-control text-primary"/>               
                </div>
            </form>    
        </div>
        
        
    </div>
    <hr/>
    
    <div class="row" ng-show="alphabeticSection">
        <div class="container-fluid">
            <div class="btn-group chacarterPanel" >
                <a id="btnCharacterAll" class="btn btn-sm btn-default btn-success active" ng-click="pressLetter('All')">All</a>
                <a id="btnCharacter{{n}}" ng-repeat="n in alphabets" ng-click="pressLetter(n)" title="{{'Resources, whos name starts with '+n}}" class="btn btn-sm btn-default">{{n}}</a>    
            </div>        
        </div>    
    </div>
    
    <hr/>
    
    <div class="row">
        <div class="container-fluid">
        <table class="table table-striped table-hover ">
            <thead>
                <tr class="text-success success">
                    <th></th>
                    <th><span class="glyphicon glyphicon-user"></span> Name</th>
                    <th><span class="glyphicon glyphicon-envelope"></span> Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in resourceList">
                    <td></td>
                    <td>{{r.name+" "+r.surname}}</td>
                    <td>{{r.email}}</td>
                    <td>
                    <a class="btn" ng-click="unregister(r._id)" title="Unregister {{r.name+' '+r.surname}}"><span class="glyphicon glyphicon-trash"></span></a>
                    <a class="btn" title="Hide {{r.name+' '+r.surname}}"><span class="glyphicon glyphicon-eye-close"></span></a>
                    <a class="btn" title="Send message to {{r.name+' '+r.surname}}"><span class="glyphicon glyphicon-comment"></span></a>    
                        
                    </td>
                </tr>
            </tbody>
        </table>  
        </div>    
    </div>
</div>
</div>