<div class="container-fluid" ng-controller="projectsCtrl">
    <div class="row">
        <h3 class="text-success"><span class="glyphicon glyphicon-cog"></span> Settings</h3>
        <hr class="text-success" />
    </div>
    <div class="row">
		<div class="col-md-12">
			<h5><span class="glyphicon glyphicon-ok"></span> REST Response test</h5>
			<form class="form-horizontal">
			  <div class="form-group">
				<label class="col-sm-1 control-label">URL</label>
				<div class="col-sm-11">
				  <input type="text" class="form-control" placeholder="URL">
				</div>
			  </div>
			</form>  
		</div>
	</div>
</div>	