<div ng-controller="resourceListingCtrl">
<div>
    
    <div class="row">
        <div class="col-md-2">
            <h3 class="text-primary">Find Resources</h3>
        </div>
        <div class="col-md-4 findResourcesSearchBox">
            <form class="form-inline">
                <div class="form-group">
                <input type="text" class="form-control text-primary"/>               
                </div>
            </form>    
        </div>
        
        
    </div>
    <hr/>
    
    <div class="row" ng-show="alphabeticSection">
        <div class="container-fluid">
            <div class="btn-group " >
                <a class="btn btn-sm btn-success active">All</a>
                <a id="btnCharacter{{n}}" ng-repeat="n in alphabets" ng-click="pressLetter($event)" title="{{'Resources, whos name starts with '+n}}" class="btn btn-sm btn-default">{{n}}</a>    
            </div>        
        </div>    
    </div>
    
    <hr/>
    
    <div class="row">
        <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr class="text-primary">
                    <td></td>
                    <td><span class="glyphicon glyphicon-user"></span> Name</td>
                    <td><span class="glyphicon glyphicon-envelope"></span> Email</td>
                    <td><span class="glyphicon glyphicon-earphone"></span> Contact</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in resourceList">
                    <td></td>
                    <td>{{r.name+" "+r.surname}}</td>
                    <td>{{r.email}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>  
        </div>    
    </div>
</div>
</div>