<div class="row" ng-controller="registrationCtrl">
    <div class="container-fluid">
	    <h3>{{moduleHeading}}</h3>          
        <p>This is a primary registration process to capture some minimum set of data to create your profile. Please provide all the information asked here. After successful creation of your profile you will be able to update your further details.</p>
		<hr/>
        <h4 ng-show="stepArray['pointedTo']!==undefined"><span class="label label-default">Step {{stepArray['pointedTo']+1}}</span></h4>
		
        <form name="registrationForm" class="form-horizontal customAnimatedForm">
        <div class="row">
			
			<!-- Credentials: BOX STARTED -->
            <div class="col-md-4" ng-show="(stepArray['pointedTo']==0)">
                <h5 class="text-primary"><span class="glyphicon glyphicon-cog"></span> Credentials</h5><br/>                
                <div class="form-group">
                    <label for="registrationUsername" class="col-sm-2 control-label">Username <sup class="text-primary">*</sup></label>
                    <div class="col-sm-10">
                      <input ng-model="registrationData.data.username" ng-required="true" ng-change="fieldValidate.username.action()" type="text" class="form-control" id="registrationUsername" name="registrationUsername" placeholder="Your username"/>
                    </div>
                 </div>
                 <div class="form-group text-danger fieldErrorBox" ng-show="registrationForm.registrationUsername.$touched && registrationForm.registrationUsername.$error.required">
                    <label class="col-sm-12 control-label"><span class="glyphicon glyphicon-remove-circle"></span> {{errorMessages.username.blank}}</label>				  
                 </div>				 
				 <div class="form-group text-danger fieldErrorBox" ng-show="!fieldValidate.username.valid && registrationForm.registrationUsername.$dirty">
                    <label class="col-sm-12 control-label"><span class="glyphicon glyphicon-remove-circle"></span> {{errorMessages.username.invalid}}</label>				  
                 </div>

                 <div class="form-group">
                    <label for="registrationPassword" class="col-sm-2 control-label">Password <sup class="text-primary">*</sup></label>
                    <div class="col-sm-10">
                      <input ng-model="registrationData.data.password" ng-required="true" ng-change="fieldValidate.password.action()" type="password" class="form-control" id="registrationPassword" name="registrationPassword" placeholder="Your password"/>
                    </div>
                 </div>
				 
				<div class="form-group text-danger fieldErrorBox" ng-show="registrationForm.registrationPassword.$touched && registrationForm.registrationPassword.$error.required">
                    <label class="col-sm-12 control-label"><span class="glyphicon glyphicon-remove-circle"></span> {{errorMessages.password.blank}}</label>
                 </div>
				 
				 <div class="form-group text-danger fieldErrorBox" ng-show="registrationForm.registrationPassword.$dirty && !fieldValidate.password.valid">
                    <label class="col-sm-12 control-label"><span class="glyphicon glyphicon-remove-circle"></span> {{errorMessages.password.invalid}}</label>				  
                 </div>
				 
                	
            </div>
			<!-- Credentials: BOX END -->
			
			
            <!-- Basic info: BOX STARTED -->
            <div class="col-md-4" ng-show="(stepArray['pointedTo']==1)">
                <h5 class="text-primary"><span class="glyphicon glyphicon-user"></span> Basic info</h5><br/>
                <div class="form-group">
                    <label for="registrationName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input ng-model="registrationData.data.name" ng-required="true" ng-change="fieldValidate.name.action()" type="text" name="registrationName" class="form-control" id="registrationName" placeholder="Your name"/>
                    </div>
                </div>
				<div class="form-group text-danger fieldErrorBox" ng-show="registrationForm.registrationName.$touched && registrationForm.registrationName.$error.required">
                    <label class="col-sm-12 control-label"><span class="glyphicon glyphicon-remove-circle"></span> {{errorMessages.name.blank}}</label>
                 </div>
				 
                <div class="form-group">
                    <label for="registrationSurname" class="col-sm-2 control-label">Surname</label>
                    <div class="col-sm-10">
                      <input ng-model="registrationData.data.surname" ng-required="true" ng-change="fieldValidate.surname.action()" type="text" class="form-control" name="registrationSurname" id="registrationSurname" placeholder="Your surname"/>
                    </div>
                </div>
				
				<div class="form-group text-danger fieldErrorBox" ng-show="registrationForm.registrationSurname.$touched && registrationForm.registrationSurname.$error.required">
                    <label class="col-sm-12 control-label"><span class="glyphicon glyphicon-remove-circle"></span> {{errorMessages.surname.blank}}</label>
                 </div>
               
            </div>
			<!-- Basic info: BOX END -->
			
            
			
			<!-- Contacts: BOX STARTED -->
            <div class="col-md-4" ng-show="(stepArray['pointedTo']==2)">
                <h5 class="text-primary"><span class="glyphicon glyphicon-envelope"></span> Contacts</h5><br/>
                 <div class="form-group">
                    <label for="registrationEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                      <input type="Email" ng-model="registrationData.data.email" ng-required="true" ng-change="fieldValidate.email.action()" class="form-control" name="registrationEmail" id="registrationEmail" placeholder="Your Email"/>
                    </div>
                </div>
				<div class="form-group text-danger fieldErrorBox" ng-show="registrationForm.registrationEmail.$touched && registrationForm.registrationEmail.$error.required">
                    <label class="col-sm-12 control-label"><span class="glyphicon glyphicon-remove-circle"></span> {{errorMessages.email.blank}}</label>
                 </div>
				 <div class="form-group text-danger fieldErrorBox" ng-show="registrationForm.registrationEmail.$dirty && !fieldValidate.email.valid">
                    <label class="col-sm-12 control-label"><span class="glyphicon glyphicon-remove-circle"></span> {{errorMessages.email.invalid}}</label>
                 </div>
				
                <div class="form-group">
                    <label for="registrationUsername" class="col-sm-2 control-label">Phone</label>
                    <div class="col-sm-10">
                      <input ng-model="registrationData.data.phone" ng-required="true" ng-change="fieldValidate.phone.action()" type="number" class="form-control" name="registrationPhone" id="registrationPhone" placeholder="Your Contact number"/>
                    </div>
                </div>
				
				<div class="form-group text-danger fieldErrorBox" ng-show="registrationForm.registrationPhone.$touched && registrationForm.registrationPhone.$error.required">
                    <label class="col-sm-12 control-label"><span class="glyphicon glyphicon-remove-circle"></span> {{errorMessages.phone.blank}}</label>
                 </div>
				 
				 <div class="form-group text-danger fieldErrorBox" ng-show="registrationForm.registrationPhone.$dirty && !fieldValidate.phone.valid">
                    <label class="col-sm-12 control-label"><span class="glyphicon glyphicon-remove-circle"></span> {{errorMessages.phone.invalid}}</label>
                 </div>
            </div>
			<!-- Contacts: BOX END -->

			
			<!-- Review: BOX STARTED -->
            <div class="col-md-12" ng-show="(stepArray['pointedTo']==3)">
               <br/>
			   <h3 class="text-primary">{{registrationData.data.name}} {{registrationData.data.surname}} <a ng-click="quickStageShifter(1)" title="edit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></h3>	
			   <hr class="text-primary">
			   
               <table class="table table-striped">
			    <tr>
					<td>Email</td><td>{{registrationData.data.email}}</td><td><a ng-click="quickStageShifter(2)" title="edit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></td>
                </tr>
				<tr>
					<td>Phone</td><td>{{registrationData.data.phone}}</td><td><a ng-click="quickStageShifter(2)" title="edit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></td>
                </tr>				
				<tr>
					<td>Username</td><td>{{registrationData.data.username}}</td><td><a ng-click="quickStageShifter(0)" title="edit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></td>
                </tr>
				<tr>
					<td>Password</td><td>{{registrationData.data.password}}</td><td><a ng-click="quickStageShifter(0)" title="edit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></td>
                </tr>				
			   </table>

            </div>
			<!-- Review: BOX END -->		
        </div>
        
        </form>
		
		<div class="text-success" ng-show="stepValidationAction()">
			<p><span class="glyphicon glyphicon-ok-circle"></span> Done! click next</p>
		</div>
		
		<div class="text-primary" ng-show="!stepValidationAction() && stepArray['pointedTo']!==3">
			<p><span class="glyphicon glyphicon-ok-circle"></span> System is waiting for your input. Please filled up the form </p>
		</div>
        
		<hr/>
		
		<div class="progress" ng-show="stepArray['progress']!==undefined">
			<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{stepArray['progress']}}%">
			<span class="sr-only">40% Complete (success)</span>
			</div>
		</div>	
		
        <div class="row" ng-show="(stepArray['pointedTo']<3)">
            <div class="col-md-4">
                <div class="btn-group">
                    <button class="btn btn-primary" ng-click="stageShifter('prev')"> Previous </button>
                    <button class="btn btn-primary" ng-click="stageShifter('next')"> Next </button>
                </div>
            </div>
        </div>	
	    <div class="row" ng-show="(stepArray['pointedTo']==stepArray['max'] && stepArray['status']==='progress')">
			<div class="col-md-12">
				<a ng-click="finalDataPost()" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Confirm registration!</a>
			</div>	
		</div>
    </div>           
</div>
   
   