<!-- EMPLOYEE REGISTRATION FORM -->
<!doctype html>
<html lang="en" ng-app='empDataMantSystem'>
<head>
<title>Application name</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link href="c/bs/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
<link href="c/bs/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
<link href="c/custom.app.css" type="text/css" rel="stylesheet"/>
<link href="c/datepicker.css" type="text/css" rel="stylesheet"/>
<link href="c/tabbedpanel.css" type="text/css" rel="stylesheet"/>
<!-- JS LIBS :start -->
<script src="../app/lib/jquery/jquery.min.js"></script>
<script src="../app/lib/underscore/underscore.js"></script>
<script src="../app/lib/angular/angular.js"></script>
<script src="../app/lib/angular/angular-ui-router.js"></script>
<!-- JS LIBS :end -->
<!-- JS :start -->
<script src="../app/urls.js"></script>
<script src="../app/app.js"></script>
<script src="../app/directives/ng-date-required.js"></script>
<script src="../app/controllers/registration.ctrl.js"></script>
<script src="c/bs/js/bootstrap.min.js"></script>
<script src="../app/customutils/DatePicker.js"></script>
<script src="../app/customutils/TabbedPanel.js"></script>
<script src="../app/customutils/Selfie.js"></script>
<!-- JS :end -->
<body>
   
    <nav class="container-fluid bgBlack pt10">
      <h3 class="masterHeading">Register Employee</h3>
    </nav>
<div class="container-fluid">    
    
   <div class="row" ng-controller="registrationCtrl">
   
        <div class="col-md-12">
           <div class="tabbedAnchors appPT"> 
            <ul class="nav nav-tabs">
				<li role="presentation" ng-repeat="i in segmentNames">
					<a data-prop="tabAction-registration" href="#"><span class="glyphicon glyphicon-{{i.icon}}"></span> {{i.name}}</a>
					<span ng-if="segmentNames.length-1 == $index">{{renderTabbedPane();}}</span>
				</li>					
            </ul>
          </div>
		  <div class="container-fluid noLeftPD">
			<div class="row">
				<div class="col-md-8"><h4 data-prop="tabContentHead-registration" class="text-success">Personal data</h4></div>				
			</div>
            <hr/>
		  </div>
		    
			<form name="employeeRegistration">				
			   <div data-prop="tabContent-registration" ng-include src="'i/personaldata.inc.html'"></div>			   
                <div data-prop="tabContent-registration" ng-include src="'i/contactdata.inc.html'"></div>
			  <div data-prop="tabContent-registration" ng-include src="'i/identitydata.inc.html'"></div>			   
                <div data-prop="tabContent-registration" ng-include src="'i/skillandefficiencydata.inc.html'"></div>
			  <div data-prop="tabContent-registration" ng-include src="'i/projectdata.inc.html'"></div>                
                <div data-prop="tabContent-registration" ng-include src="'i/photograph.inc.html'"></div>
			  <div data-prop="tabContent-registration" ng-include src="'i/misc.inc.html'"></div>				
            </form>
			
			<hr/>
			
        </div>
        <div class="col-md-12">
        <button ng-click="postData()" class="btn btn-primary">Register now!</button>
        </div>
        <div class="col-md-12 hide">
           <h4 class="text-success">JSON</h4> 
           <hr/> 
          <form name="dummyJSONPool">
             <div class="form-group">
                   <textarea name="jsonPool" rows="20"  class="form-control text-success" placeholder="json" disabled>{{dataToCapture}} AND {{currentProject}}</textarea>
               </div>
           </form>
        </div>
        
   </div>
</div>
<div ng-include src="'i/commonmodal.inc.html'"></div>
</body>
</html>
