@import url("bootstrap.override.css");
/*ALL CUSTOM CSS*/
nav{
    position:fixed;
    top:0px;
    left:0px;
    z-index:9999;
    width:100%;
    box-shadow:1px 1px 7px 0px rgba(50, 50, 50, 0.56);
    opacity:0.90;
}

.sectionHeadingRegistration{
margin-bottom:0px;
}

.shortenHR{
margin:10px 0 10px 0;
}

.topNavW{
    background: linear-gradient(to bottom, #ffffff 0%,#e8e8e8 100%);
    border-bottom:1px solid #EFEFEF;    
}

.appBodyContent{
    margin:83px 0 0 0;
}

.topNavW>.btn-group{
    float:right;
}

.bgBlack{
border-bottom:1px solid #EFEFEF;
background: linear-gradient(to bottom, #ffffff 0%,#FCFCFC 100%);
}



h3.masterHeading{
margin:10px 0;
}

.main-nav-container{
padding-top:25px;
}

.borderBottom{
border:1px solid #ccc;
}

.noLeftPD{
  padding-left:0; 
}

.appPT{
padding-top:10px;
}

.appPT .btn-group{
float:right;
}

.appPB{
padding-bottom:10px;
}

.appPL{
padding-left:10px;
}

.appPR{
padding-right:10px;
}

.boxCommon{
border:2px solid #ccc;
}

.smallLevelText{
font-size:12px;    
}

h4.smallLevelText{
font-weight:bold;
font-size:12px;    
}


a:link,a.visited,a:hover{
  outline:none !important;  
}

div.checkbox label:first-child{
    padding-left:0;
}