.bgBlack{
background:black;
}

.bgBlack *{
color:white;
}

.main-nav-container{
padding-top:25px;
}

.borderBottom{
border:1px solid #ccc;
}

.appPT{
padding-top:10px;
}

.appPT .btn-group{
float:right;
}

.appPB{
padding-bottom:10px;
}

.appPL{
padding-left:10px;
}

.appPR{
padding-right:10px;
}

.boxCommon{
border:2px solid #ccc;
}

a:link,a.visited,a:hover{
  outline:none !important;  
}